@import "Variables";

body {
    background-color: $blanco;
}

h1, h2 {    
    margin-bottom: $Xsmall;
    margin-top: $Xsmall;
}

.flx_img_header {
    display: flex;
    .img_izq {
        padding-left: $med;
    }
}

.flx_row_cent {
    display: flex;
    flex-direction: row; 
    text-align: center;
    justify-content: center;
    /* border: 1px solid red; */
    flex-wrap: wrap;
}

.paises {
    width: 300px;
    height: 120px;
}

.flx_col_cent {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.flx_col_cent_pais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    margin: 5px 10px 3px 10px;
    /* border: 1px solid blue; */
    font-weight: bold;
    p {
        margin-top: 5px;
        margin-bottom: 10px;
    }
}

.flx_footer {
    display: flex;
    margin:20px 20px 5px 20px;
    font-size: 17px;
    color:$gris_claro;
    padding: 7px;
    justify-content: space-between;
    img {
        margin: $Xsmall;
    }
}



.flx_just_space_between {
    display: flex;
    justify-content: space-between;    
}

.flx_img_col_cent {
    display: Flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-image: url("playa.jpg");
    background-size: 100% auto;
    height: 200px;
}

.flx_align_cent {
    display: flex;
    align-items: center;
    a {
        color: $gris_claro;
        text-decoration: none;
        margin-right: 15px;
        font-size: 18px;
    } 
}

.bg_col_black {
    background-color: $negro;
}

.input_buscador {
    margin-right: 15px;
    width: 350px;
}